/* SLIDE IMAGE */

@media screen and(max-width: 1000px) {
  .images-slide h1 {
    font-size: 32px;
  }

  .images-slide p {
    font-size: 10px;
  }

  .wrapper {
    width: 100%;
  }

  .slide-wrapper {
    width: 75%;
  }

  label span {
    font-size: 75pt;
  }

  .me {
    display: none;
  }
}

@media screen and (max-width: 670px) {
  .images-slide h1 {
    font-size: 30px;
  }

  .images-slide p {
    font-size: 14px;
  }

  .wrapper {
    width: 100%;
    background-image: none;
  }

  .slide-wrapper {
    border: none;
    width: 50%;
    height: 0;
    padding-bottom: 30%;
  }

  label span {
    font-size: 50pt;
  }

  .prev,
  .next {
    width: 15%;
  }

  #nav_slide .dots {
    width: 12px;
    height: 12px;
  }
}

/* LIST BEASISWA */
/* Tablet*/
@media all and (max-width: 1000px) {
  .container heading {
    font-size: 18px;
  }

  .jenis-beasiswa {
    width: 50%;
    padding-bottom: 50px;
  }

  .list-beasiswa {
    height: 1250px;
  }

  .teks {
    font-size: 14px;
    margin-left: 80px;
    width: 225px;
  }
}
/* Smartphone*/
@media all and (max-width: 670px) {
  .container heading {
    font-size: 12px;
  }

  .jenis-beasiswa {
    width: 100%;
    padding-bottom: 25px;
  }

  .list-beasiswa {
    height: 2350px;
  }
  .teks {
    font-size: 12px;
    margin-left: 60px;
    width: 200px;
  }
}

/* TESTIMONI */

/* Untuk Tablets */
@media (max-width: 1000px) {
  .konten {
    width: 50%;
    margin-bottom: 50px;
  }
  .judul-testimoni h2 {
    font-size: 32px;
  }
  .pesan h3 {
    font-size: 20px;
  }

  .pesan h4 {
    font-size: 18px;
  }

  .pesan p {
    font-size: 14px;
  }

  .list-testimoni {
    height: 1150px;
  }
}
/* Untuk Smartphone*/
@media (max-width: 670px) {
  .konten {
    width: 100%;
  }
  .judul-testimoni h2 {
    font-size: 28px;
  }
  .pesan h3 {
    font-size: 16px;
  }
  .pesan h4 {
    font-size: 12px;
  }

  .pesan p {
    font-size: 10px;
  }
  .konten {
    height: 250px;
  }

  .list-testimoni {
    height: 1500px;
  }
}

/* FORM CHECK */

@media (max-width: 1000px) {
  .contain-form {
    width: 50%;
  }

  input,
  textarea {
    width: 80%;
  }

  .judul {
    width: 50%;
    margin: auto;
    font-size: 14px;
    line-height: 25px;
    font-size: 15px;
  }

  .ket {
    font-size: 10px;
    margin: 20px;
  }
}
