header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.contain-header {
  width: 1170;
  padding: 0 15px;
  margin: 0 auto;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: rgba(34, 49, 52, 0.9);
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0px 25px;
  color: white;
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* IMAGE SLIDE */
.images-slide {
  padding: 180px 0 100px 0;
  margin: 0;
  background-size: cover;
  color: white;
  text-align: center;
  background-image: url("../images/scholarship.jpg");
  text-align: center;
}

.images-slide h1 {
  opacity: 0.9;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.images-slide p {
  opacity: 0.9;
  margin-bottom: 3px;
}

.fa {
  margin-right: 5px;
}

.wrapper {
  background-image: url(https://campuspedia.id/news/wp-content/uploads/2016/04/pos-beasiswa-info.jpg);
  color: black;
  background-size: cover;
  float: inline-end;
  padding-top: 180px;
  padding-bottom: 100px;
  text-align: center;
  animation: 20s slider infinite;
  animation-delay: 5s;
  margin: auto;
}

@keyframes slider {
  0% {
    background-image: url(https://campuspedia.id/news/wp-content/uploads/2016/04/pos-beasiswa-info.jpg);
  }
  25% {
    background-image: url(https://asset.kompas.com/crops/O6hk6C0Vry0cVIDyZ4AYQO6gGFU=/621x370:1279x809/750x500/data/photo/2020/10/26/5f964f1e89e61.png);
  }
  50% {
    background-image: url(https://asset.kompas.com/crops/O6hk6C0Vry0cVIDyZ4AYQO6gGFU=/621x370:1279x809/750x500/data/photo/2020/10/26/5f964f1e89e61.png);
  }
  75% {
    background-image: url(https://asset.kompas.com/crops/O6hk6C0Vry0cVIDyZ4AYQO6gGFU=/621x370:1279x809/750x500/data/photo/2020/10/26/5f964f1e89e61.png);
  }
  100% {
    background-image: url(https://campuspedia.id/news/wp-content/uploads/2016/04/pos-beasiswa-info.jpg);
  }
}

.wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  padding-bottom: 10px;
}

.wrapper p {
  margin-bottom: 3px;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper a {
  color: white;
}

.btn-wrapper p {
  margin: 10px 0;
}

.btn {
  padding: 12px 24px;
  border-radius: 4px;
  display: inline-block;
}

.btn:hover {
  opacity: 1;
}

.email {
  background-color: #239b76;
  opacity: 0.9;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
  opacity: 0.9;
}

.twitter {
  background-color: #55acee;
  opacity: 0.9;
}

#slide1, #slide2, #slide3, #slide4, #slide5{
	display: none;
}

.slide-wrapper {
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	width: 70%;
	height: 0;
	padding-bottom: 30%;
	user-select: none;
	background-color: #1c1c1c;
	border: solid 10px #616161;
	border-radius:10px ; 
}

.slide-wrapper .slide_img{
	position: absolute;
	width: 100%;;
	height: 100%;
}
.slide-wrapper .slide_img img{
	width: inherit;
	height: inherit;
}

 .prev, .next{
	width: 12%;
	height: inherit;
	position: absolute;
	top:0; 
	background-color: rgba(88, 88, 88, 0.1);
	color:rgba(244, 244, 244,.9);
	z-index: 99;
	transition: .45s;
	cursor: pointer;
	text-align: center;
}

.next{right:0;}
.prev{left:0;}

label span{
	position: absolute;
	font-size: 100pt;
	top: 50%;
	 transform: translateY(-50%);
}

.prev:hover, .next:hover{
	transition: .3s;
	background-color: rgba(88, 88, 89, 0.5);
	color: #ffffff; 
}

.slide-wrapper #nav_slide{
width: 100%;
bottom: 12%;
height: 11px;
position: absolute;
text-align: center;
z-index: 99;
cursor: default;
}

#nav_slide .dots{
top: -5px;
width: 18px;
height: 18px;
margin: 0 4px;
position: relative;
border-radius: 100%;
display: inline-block;
background-color: rgba(0, 0, 0, 0.6);
transition: .4s;
}

#nav_slide .dots:hover {
cursor: pointer;
background-color: rgba(255, 255, 255, 0.9);
transition: .25s
}

.slide_img{z-index: -1;}

#slide1:checked ~ #satu  ,
#slide2:checked ~ #dua  ,
#slide3:checked ~ #tiga,
#slide4:checked ~ #empat ,
#slide5:checked ~ #lima 
{z-index: 9; animation: scroll 1s ease-in-out;}

#slide1:checked  ~  #nav_slide #dot1,
#slide2:checked  ~  #nav_slide #dot2,
#slide3:checked  ~  #nav_slide #dot3,
#slide4:checked  ~  #nav_slide #dot4,
#slide5:checked  ~  #nav_slide #dot5
{ background-color: rgba(255,255,255,.9);}

@keyframes scroll {
0%{	opacity:.4;}
100%{opacity:1;}
}

/* LIST BEASISWA */
.list-beasiswa {
  padding-bottom: 0px;
}

.container {
  max-width: 100%;
}

.jenis-beasiswa {
  float: left;
  width: 25%;
  position: relative;
  transition: 300ms;
}

.heading {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}

.heading h2 {
  font-size: 45px;
  text-align: center;
}

.teks {
  width: 75%;
  text-align: center;
  font-size: 14px;
  position: absolute;
  top: 340px;
  color: #fff;
  margin-left: 5px;
}

.jenis-beasiswa:hover {
  transform: translateY(-8px);
}

/* TESTIMONI */
.list-testimoni{
  padding-bottom: 0px;
}

.konten {
  float: left;
  width: 25%;
  /*background-color: #f7d08a;*/
  height: 400px;
  margin-top: opx;
  padding-top: 20px;
  padding-bottom: 20px;
}

.foto-testimoni {
  width: 150px;
  display: block;
  margin: auto;
}

.pesan p {
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
}

.pesan h3 {
  font-size: 28px;
  text-align: center;
}

.pesan h4 {
  font-size: 22px;
  text-align: center;
  margin-top: 0pt;
  font-weight: normal;
}

.tombol {
  padding: 12px 24px;
  background-color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  color: #9d5c0d;
}

.tombol:hover {
  opacity: 1;
}

.message {
  padding: 15px 40px;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 7px #e5890a;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.testimoni-lain {
  margin: auto;
  text-align: center;
  padding-bottom: 30px;
}


/* FORM CHECK */

.form-check {
  padding-bottom: 0px;
}

.contain-form {
  width: 50%;
  margin: 0 auto;
  font-size: 14px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
  background-color: #fff;
}

.ket {
  text-align: center;
  font-size: 11px;
}

.form-judul { 
  width: 100%;
  position: relative;
  margin-bottom: 25px;
}

.form-isian {
  padding: 1px;
  margin: 0 auto;
  width: 100%;
}

.ngisi {
  margin: 0 auto;
  margin-bottom: 15px;
}

.judul{
  text-align: center;
  margin: 0px 120px;
  border-bottom: 2px solid #f7d08a;
  padding: 15px 5px;
}

input, textarea {
  border: none;
  border-bottom: 1px solid rgb(70, 53, 53, 0.15);
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 8px;
}

input  {
  display: block;
  width: 90%;
}

input:hover, textarea:hover {
  box-shadow: 0px 0px 2px rgb(0, 0, 0, 0.4);;
}

textarea {
  display: block;
  width: 90%;
}

.ngirim {
  display: block;
  margin: 0 auto;
  width: 50%;
  font-size: 15px;
  border: 1px solid #f7d08a;
  margin-bottom: 15px;
  background-color: #fff;
}

.ngirim:hover {
  background-color: #f7d08a;
  color: #fff;
}

footer {
  background-color: rgba(34, 49, 52);
  padding-top: 30px;
  margin: 0;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
  margin: 0;
  padding: 0;
}