body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
  font-size: 45px;
  text-align: center;
}

a {
  text-decoration: none;
}

/* LIST BEASISWA */

.container {
  max-width: 1170px;
  margin: auto;
}

.jenis-beasiswa {
  float: left;
  width: 25%;
  position: relative;
  transition: 300ms;
}

.heading {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}

.teks {
  width: 75%;
  text-align: center;
  font-size: 14px;
  position: absolute;
  top: 340px;
  color: #fff;
  margin-left: 5px;
}

.jenis-beasiswa:hover {
  transform: translateY(-8px);
}

/* TESTIMONI */

.container {
  background-color: #f7d08a;
  /*background-image: url(BG1-02-02.png);
  background-size: contain;*/
}

.konten {
  float: left;
  width: 25%;
  /*background-color: #f7d08a;*/
  height: 400px;
  margin-top: opx;
  padding-top: 20px;
  padding-bottom: 20px;
}

.foto-testimoni {
  width: 150px;
  display: block;
  margin: auto;
}

.pesan p {
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
}

.pesan h3 {
  font-size: 28px;
  text-align: center;
}

.pesan h4 {
  font-size: 22px;
  text-align: center;
  margin-top: 0pt;
  font-weight: normal;
}

.tombol {
  padding: 12px 24px;
  background-color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  color: #9d5c0d;
}

.tombol:hover {
  opacity: 1;
}

.message {
  padding: 15px 40px;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 7px #e5890a;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.testimoni-lain {
  margin: auto;
  text-align: center;
  padding-bottom: 30px;
}


/* FORM CHECK */

.form-check {
  padding: 0px 55px;
}

.form-check .container {
  padding: 200px 0px;

}

.bagiankiri {
  width: 480px;
  margin: 0 auto;
  font-size: 14px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
  background-color: #fff;
}

.ket {
  text-align: center;
  font-size: 11px;
}

.form-judul { 
  width: 100%;
  position: relative;
  margin-bottom: 25px;
}

.form-isian {
  padding: 1px;
  margin: 0 auto;
  width: 100%;
}

.ngisi {
  margin: 0 auto;
  margin-bottom: 15px;
}

.judul{
  text-align: center;
  margin: 0px 120px;
  border-bottom: 2px solid #f7d08a;
  padding: 15px 5px;
}

input, textarea {
  border: none;
  border-bottom: 1px solid rgb(70, 53, 53, 0.15);
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 8px;
}

input  {
  display: block;
  width: 90%;
}

input:hover, textarea:hover {
  box-shadow: 0px 0px 2px rgb(0, 0, 0, 0.4);;
}

textarea {
  display: block;
  width: 90%;
}

.ngirim {
  display: block;
  margin: 0 auto;
  width: 50%;
  font-size: 15px;
  border: 1px solid #f7d08a;
  margin-bottom: 15px;
  background-color: #fff;
}

.ngirim:hover {
  background-color: #f7d08a;
  color: #fff;
}